.outerContainer {
    position: absolute;
    bottom: 0;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    height: 50px;
    padding: 4px 4px 10px 4px;
    border: #f0f0f0 solid 1px;
    width: 100%;
}

.innerContainer {
    display: inline-block;
    min-width: 100px;
    margin-right: 10px;
}

.wordBox {
    display: flex;
    justify-content: flex-start;
    justify-self: center;
    height: 30px;
    justify-content: center;
    padding: 0 10px 0 10px;
}