.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: underline dotted;
}

.portfolioLink {
    text-decoration: none;
    color: #BF456C;
}

.portfolioLink:hover {
    text-decoration: underline dotted;
}