.timerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FFFFFF;
    height: 35px;
    width: 80px;
    border-radius: 20px;
    padding: 15px;
    border: 1px solid #BF456C;
}

.timerContainerStopped {
    background-color: #F7EBF0;
}

.timeNumber {
    margin-left: 10px;
    color: #BF456C;
    font-size: 18px;
}