.canvas {
	border: 1px solid black;
	display: flex;
}

.canvasContainer {
	display: flex;
	justify-content: center;
}

.enabled {
	border: 3px solid blue;
}

.disabled {
	pointer-events: none;
}

.colorSwatches {
	display: flex;
	justify-content: center;
	height: 40px;
}
